.alphabet-filter {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  overflow-x: scroll;
}

.alphabet-letter {
  margin: 0 5px;
  grid-row: 1 / 2;
}

.alphabet-letter:hover {
  background: var(--color-dark);
  color: var(--color-gold);
}
