.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 3vmin auto 15vmin;
  font-size: 0.8rem;
}
.hero-image {
  width: 70%;
  max-width: 37.5rem;
  display: block;
  margin: 0 0 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text h1 {
  font-size: 3rem;
  font-size: clamp(3rem, 12vmin, 5rem);
  margin-bottom: 1rem;
}

.cta {
  background: var(--color-gold);
  width: 100%;
  padding: 12vmin 8vmin;
  -webkit-box-shadow: 1px 2px 14px 0px rgba(38, 64, 84, 0.6);
  -moz-box-shadow: 1px 2px 14px 0px rgba(38, 64, 84, 0.6);
  box-shadow: 1px 2px 14px 0px rgba(38, 64, 84, 0.6);
}

.introduction {
  min-height: 100vh;
  width: 80%;
  max-width: 62.5rem;
  margin: 3rem auto;
  display: grid;
  gap: 1rem;
  max-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.introduction-text {
  display: grid;
  place-items: center;
  line-height: 1.3;
  font-size: 1rem;
}

.introduction-abstract {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.introduction-abstract div {
  display: grid;
  place-items: center;
}

.introduction-abstract img {
  display: block;
  width: 100%;
}

.waves {
  grid-row: 2 / 4;
  grid-column: 1 / 4;
}

.dashes {
  grid-row: 1 / 3;
  grid-column: 1 / 4;
}

.solid {
  grid-row: 1 / 4;
  grid-column: 2 / 4;
}
