* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-lightest: #fafdff;
  --color-light: #f0f3f5;
  --color-dark: #264054;
  --color-darkest: #13202a;
  --color-grey: #dcdcdc;
  --color-opal: #99bdb8;
  --color-gold: #f6bd60;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-light);
  color: var(--color-dark);
}

/* section stylings for reusability */
.section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0;
}

.section-column {
  flex-direction: column;
}

/* form card stylings for reusability */
.form-card {
  margin: 2rem auto;
  padding: 3rem;
  width: 80vw;
  max-width: 31.25rem;
  border: 0.5px solid var(--color-grey);
  border-radius: 15px;
  box-shadow: 10px 15px 16px 1px rgba(0, 0, 0, 0.054),
    3px 5px 20px 1px rgba(0, 0, 0, 0.074), -2px 7px 20px 2px rgba(0, 0, 0, 0.14);
}

.form-card div {
  width: fit-content;
  margin: 0.5rem auto;
}

.hidden {
  display: none;
  opacity: 0;
}

/* Link Style */
.word-link {
  display: block;
  color: var(--color-dark);
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.word-link:hover {
  color: var(--color-light);
}
