.nav-container {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100vw;
  z-index: 500;
}

.wave-bar {
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.wave {
  fill: var(--color-opal);
}

.menu-icon {
  position: absolute;
  left: 0;
  margin: 0.5rem 1.2rem 0;
  font-size: 1.7rem;
  color: var(--color-dark);
  z-index: 200;
  cursor: pointer;
}

.wave-bar a {
  position: absolute;
  z-index: 300;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu-list {
  position: absolute;
  width: 100vw;
  height: 0;
  overflow: hidden;
  top: 80px;
  background: var(--color-opal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-list a {
  display: block;
  color: var(--color-dark);
  font-size: 2rem;
  margin: 0.5rem 0;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu-list a:hover {
  color: var(--color-light);
}

.slide-top {
  -webkit-animation: slide-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-top a {
  -webkit-animation: appear 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: appear 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
